<div class="container">
<div class="row">
  <% @artist.each do |artist| %>
  <div class="col-sm-6 col-md-3">
      <%= link_to image_tag(artist.image_url), artist, class: "thumbnail" =%>
      <div class="caption">
        <h3><%= artist.name %></h3>
        <p><%= link_to "View", artist, class: "btn btn-primary", role:"button" %>
        <%= link_to "Delete", artist_path(artist), class: "btn btn-danger", method: :delete, data: { confirm: "There is no going back" } =%></p>
      </div>
  </div>
  <% end %>
</div>
</div>
