<div class="row">
  <div class="col-md-3">
    <h5>Add a new song</h5>
  </div>
  <div class="col-md-9">
    <%= form_for [@artist, @artist.songs.new] do |f| %>
      <% @artist.errors.full_messages.each do |msg| %>
        <p class="alert alert-danger"><%= msg %></p>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, id:"new-song"%>
    <% end %>
  </div>
</div>
