<ul class="list-group" id="all-songs">
  <% @artist.songs.each do |song| %>
  <li class="list-group-item song" id="<%= song.id =%>"><%= song.name %>
      <span class="badge">
        <a href="" class="clean-this" id="<%= song.id =%>">
          <span class='glyphicon glyphicon-trash' aria-hidden='true'></span> Delete</a>
      </span>
    </li>
  <% end %>
</ul>

<button type="button" class="btn btn-danger" id="clean-up">Remove all songs</button>
