<ul class="list-group" id="all-songs">
  <% @artist.songs.each do |song| %>
  <li class="list-group-item song" id="song-<%= song.id =%>"><%= song.name %>
      <span class="badge">
        <a href="" class="clean-this">
          <span class='glyphicon glyphicon-trash danger' aria-hidden='true'></span> Clean this</a>
          <span id="artistId"><%= @artist.id %></span>
      </span>
    </li>
  <% end %>
</ul>

<button type="button" class="btn btn-danger" id="clean-up" data-toggle="modal" data-target="#myModal">Delete all songs</button>
